name: "EV2 | 1. Validations"

on:
  push:
    branches: ["main", "develop"]

permissions:
  contents: read
  checks: write
  pull-requests: write
  packages: write
  id-token: write
  pages: write

concurrency:
  group: release-${{ github.event.workflow_run.head_sha }}
  cancel-in-progress: false

jobs:
  check-lintern:
    name: "1. Ruff lint"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync --frozen --groups lint

      - name: Check Ruff lintern compliance
        run: uv run ruff .

  check-formatter:
    name: "2. Formatter check"
    needs: check-lintern
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync --frozen --groups lint

      - name: Check Black formatter compliance
        run: uv run black --check .

  check-tests:
    name: "3. Check all tests pass"
    needs: check-formatter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync --frozen --groups tests

      - name: Run pytest with coverage
        run: uv run pytest --cov=. --cov-report=xml --junitxml=report.xml

      - name: Upload coverage report artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: coverage-reports
          path: |
            report.xml
            coverage.xml
          if-no-files-found: ignore

      - name: Publish test results
        if: always()
        uses: mikepenz/action-junit-report@v5
        with:
          report_paths: report.xml
          check_name: "Pytest Results"
          detailed_summary: true
